<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Utopia Regression Suit">
  <test thread-count="5" name="Utopia Test">
    <classes>
      <class name="com.nagarro.salesforce.utopia.basic.tests.TestCases2"/>
      <class name="com.nagarro.salesforce.utopia.basic.tests.TestCases1"/>
    </classes>
  </test> <!-- Utopia Test -->
</suite> <!-- Utopia Regression Suit -->
